body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #4cc550;
    color: white;
    text-align: center;
    padding: 20px;
}
nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    list-style: none;
    background-color: rgb(41, 221, 41);
    padding: 20px;
    gap: 20px;
}
nav li {
    color: rgb(3, 3, 3);
    font-weight: bold;
}
main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}
aside {
    display: grid;
    gap: 10px;
    background-color: whitesmoke;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.photos {
    display: grid;
    gap: 10px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.photos img {
    width: 100%;
    border-radius: 4px;
}
footer {
    display: grid;
    background-color:#4cc550;
    color: white;
    text-align: center;
    padding: 10px;
}